br
br
h1.text-xs-center Create Quiz 
hr
br

.row
  .col-md-6.offset-md-3
    = simple_form_for @quiz do |f|
      = f.input :name
      
      h3 Questions
      #questions
        = f.simple_fields_for :questions do |question|
          = render 'question_fields', f: question
        .links
          br
          = link_to_add_association 'Add question', f, :questions, class: 'btn btn-outline-primary btn-sm'
          br
          br
      
      = f.button :submit, class: 'btn btn-outline-success'
      
br
br
