.nested-fields
  br
  = f.input :content

  = link_to_remove_association "remove question", f
  br
  
  h3 Answers
  #answers
    = f.simple_fields_for :answers do |answer|
      = render 'answer_fields', f: answer
    .links
      = link_to_add_association 'Add Answer', f, :answers, class: 'btn btn-outline-primary btn-sm'
    br
    br
    
