br

p 
  strong = @quiz.name

ol
  = simple_form_for '', remote: true do |f|
    - @quiz_question.each do |qq|
      li = qq.content
      ul 
        = f.input :answer, as: :radio_buttons, collection: qq.answers.order("RANDOM()").all.map {|a| [a.content, a.id]}
    
    = f.button :submit, class: 'btn btn-outline-success'
