// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio {
  margin-left: 5px;
  margin-right: 5px;
}

.radio_buttons {
  margin-left: 5px;
  margin-right: 5px;
}
